.dropdown-section {
  position: relative;
  &:hover {
    cursor: pointer;
  }
  &:focus {
    background: white;
    outline: none;
  }
}

.displayed-item {
  padding: 5px;
  background: white;
}

.list-content {
  padding-left: 0;
  margin: 0;
  box-sizing: border-box;
  background: white;
  border-right: 1px solid grey;
  border-left: 1px solid grey;
  border-bottom: 1px solid grey;
  z-index: 5;
  position: absolute;
  width: 101%;
  top: 47px;
}

.dropdown-item {
  padding: 10px;
  text-align: left;
  &:hover {
    cursor: pointer;
    background: rgb(224, 224, 230);
  }
}
